/* COLORS

   #00B9DB Bright blue text
   #3AA5BF Bright blue background
   #0D0F0F Dark background
   ———————————————————————————————————————————————————— */


/* Base styles
   ———————————————————————————————————————————————————— */

html, button, input, select, textarea { color: #222; }
h1, h2, h3, h4, h5, h6 { font-weight: 300;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
::-moz-selection { background: #00B9DB; text-shadow: none; color: white;}
::selection { background: #00B9DB; text-shadow: none; color: white;}
img { vertical-align: middle;}

body {
    background: #0D0F0F;
    font-size: 20px;
    line-height: 140%;
    color: #778B94;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h2 {
  color: #00B9DB;
  margin: 0;
  font-size: 48px;
  line-height: 110%;
}

a {
  color: #eee;
  text-decoration: none;
  border-bottom: solid rgba(255,255,255,0.2) 1px;
}

section {
  width: 100%;
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
}

section .description {
  color: white;
}

/* grid */

.col_1 {
  width: 33.33%;
  float: left;
  padding: 0 30px;
}

section.intro {
  height: 600px;
  position: relative;
}

section.intro #fork {
  position: absolute;
  color: white;
  display: block;
  line-height: 100%;
  top: 20px;
  right: 20px;
  width: 120px;
  font-size: 15px;
  color: #666;
  text-align: right;
}

section.intro #satellite {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

section.intro .info {
  margin: 100px 30px;
  width: 540px;
}

section.intro h1 {
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -1px;
  padding: 0;
  color: white;
  margin: 0 0 20px 0;
}

section.intro h1 span {
  white-space: nowrap;
}

section.intro p {
  font-size: 20px;
  margin: 0;
  line-height: 130%;
  color: black;
  padding: 0;
  max-width: 530px;
}

section.people {
  background: #0D0F0F;
}

section.people .grid {
  margin-top: 50px;
}

section.people .person {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  margin-right: -5px;
  padding: 30px 30px;
  position: relative;
}

section.people .person:after,
section.people .person:before {
  content: '';
  position: absolute;
  background: #121B22;
}

section.people .person:after {
  height: 50px;
  top: -25px;
  left: -1px;
  width: 1px;
}

section.people .person:before {
  width: 50px;
  top: -1px;
  left: -25px;
  height: 1px;
}

section.people .person figure {
    display: block; 
    position: relative;
    min-height: 100px;
}

section.people .person figure > img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0 15px 0 -3px;
  vertical-align: bottom;

}

section.people .person address a {
  border-bottom: none;
  display: inline-block;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  background: rgba(0,185,219,0.3);
  width: 30px;
  font-weight: 600;
  border-radius: 3px;
  color: black;
  text-shadow: 0 1px 1px white;
  text-align: center;
}

section.people .person address a.expanded {
  text-align: left;
  color: #ccc;
  width: auto;
  padding: 0 10px 0 7px;
  text-shadow: none;
} 

section.people .person address a.skype img {
  margin: -2px 3px 0 -2px;
}

section.people .person address a.email {
    background: #00B9DB;
    padding: 0 10px;
    width: auto;
}

section.people .person address a img {
  opacity: 0.8;
}

section.people .person address a:hover img {
  opacity: 1;
}


section.people .person h3 {
  font-size: 15px;
  font-weight: normal;
  color: #eee;
  margin-bottom: 3px;
}

section.people .person .tag:after {
  content: ',';
}

section.people .person .tag:last-child:after {
  content: '';
}

section.people .person figure figcaption {
  display: inline-block;
  vertical-align: bottom;
}

section.people .person .name {
  color: #fff;
  font-size: 25px;
  padding-top: 10px;
}

section.people .role {
  color: #ccc;
  font-size: 15px;
}

section.people .details {
  display: block;
  font-size: 15px;
  line-height: 145%;
  text-align: left;
}

section.people .person .missing {
  border: solid #121B22 1px;
  color: #343B44;
  font-size: 24px;
  min-height: 360px;
  text-align: center;
  padding: 150px 0;
  line-height: 140%;
}

section.people .person .missing a {
  font-size: 28px;
  display: inline-block;
  margin-bottom: 5px;
  color: #00B9DB;
  border-bottom-color: #00B9DB;
}

mark {background: transparent; color: #999; display: block; font-size: 16px; line-height: 140%;}

section.people .person .missing span {
  font-size: 21px;
  text-indent: 5px;
  display: block;
}

section.gallery {
  padding-top: 15px;
}

section.gallery h2 {
  margin: 0 0 0 15px;
}

section.gallery .gallery {
  padding: 30px 0;
}

section.gallery figure, section.gallery .description {
  width: 33.33%;
  display: inline-block;
  margin-right: -5px;
  position: relative;
  vertical-align: top;
  padding: 15px;
}

section.gallery figcaption {
  font-size: 15px;
  line-height: 140%;
  margin-top: 10px;
}

section.faq {
  width: 800px;
  margin: 0 auto;
}

section.faq h3 {
  margin-bottom: 0;
  font-weight: normal;
  color: #eee;
}

section.faq p {
  margin: 0;
}

section.faq .more_questions {
  font-size: 48px;
  margin-top: 40px;
  line-height: 120%;
  opacity: 0.5;
  font-weight: 300;
  padding-top: 30px;
  border-top: solid #333 1px;
}

section.faq .more_questions a {
  border-bottom: none;
}


section.gallery img {
  width: 100%;
}

.columns {
  padding: 0 50px;
  background: #121515;
  font-size: 18px;
  line-height: 140%;
}

.columns section {
  width: 33.33%;
  float: left;
  padding-right: 30px;
}

.columns .highlighted {
  background: #3AA5BF;
  color: black;
  margin: 0 -15px;
}

.columns dt.highlighted {
  padding: 15px 15px 0 15px;
  position: relative;
}

.columns dt.highlighted:after {
  content: '';
  border: solid #121515 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-color: #2994ae;
  border-left-color: #2994ae;
}

.columns dd.highlighted {
  padding: 0 15px 15px 15px;
}

.columns dt.highlighted a {
  color: black;
}

.columns dt {
  margin-top: 1.5em;
}

.columns dt a {
  font-weight: bold;
  border-bottom: none;
}

section.location {
  clear: both;
}

section.flights {
  height: 1000px;
  clear: both;
}

#destination {
  width: 400px;
  left: 40%;
  top: 40%;
  position: absolute;
  background: black;
  z-index: 100;
  padding: 20px;
  border-top: solid black 3px;
  opacity: 0;
  font-size: 15px;
  line-height: 28px;
}

#destination span {
  color: white;
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}

section.flights > h2 {
  position: absolute;
  z-index: 100
}

section.flights #map {
  z-index: 1;
}

dd {
  margin: 0;
  padding: 0;
}

dt {
  margin-top: 20px;
}

/* Weather
   ———————————————————————————————————————————————————— */

#weather {
}

#weather .month {
  position: relative;
  font-size: 15px;
  line-height: 160%
}

#weather .range {
  background: #005D6E;
  position: absolute;
  top: 1px;
  bottom: 0;
  border-left: solid #00B9DB 3px;
  border-right: solid #c33 3px;
  -webkit-transition: all 500ms ease;
}

#weather .range:before {
  color: #666;
  content: attr(data-low) '°C';
  position: absolute;
  left: -40px;
}

#weather .range:after {
  color: #666;
  content: attr(data-high) '°C';
  position: absolute;
  right: -40px;
}

#weather.fahrenheit .range:before {
  content: attr(data-high) '°F';
}

#weather.fahrenheit .range:after {
  content: attr(data-high) '°F';
}

section.weather .units {
  box-shadow: inset 0 -1px 1px #333;
  border-radius: 30px;
  font-size: 15px;
  line-height: 32px;
  display: inline-block;
  background: rgba(0,0,0,0.5);
  padding: 0 2px;
  margin-bottom: 1em;
} 

section.weather .units .unit {
  display: inline-block;
  height: 28px;
  vertical-align: top;
  margin-top: 2px;
  padding: 0 20px;
  line-height: 28px;
  -webkit-transition: all 500ms ease;
  cursor: pointer;
}

section.weather .units .selected {
  background: #00B9DB;
  box-shadow: 0 0 10px rgba(0,185,219,0.3);
  color: black;
  border-radius: 30px;
  text-shadow: 0 1px 1px white;
}

/* SVG Map
   ———————————————————————————————————————————————————— */

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: :0;
}

.background {
  stroke: rgba(255, 255, 255, 0.1);
  fill: #0F0f0f;
}

.foreground {
  fill: none;
}

.city {
  opacity: 0.3;
  stroke-width: 10;
  stroke: black;
  stroke-opacity: 0;
  cursor: pointer;
}

.graticule {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  opacity: 0.1;
}

.graticule :nth-child(2n) {
  stroke-dasharray: 2,2;
}

.land {
  stroke: none;
  fill: #181B1B;
}

section.intro .land {
  fill: #3EB0D1;
}

section.intro .background {
  fill: black;
}

section.intro {
  background: #40B9DB;
  position: relative;
  z-index: 0;
}

section.intro .foreground {
  fill: #40B9DB;
}


.boundary {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.route {
  fill: none;
  opacity: 0.3;
  pointer-events: none;
}

/* Responsive rules
   ———————————————————————————————————————————————————— */

@media only screen and (max-width: 1300px) {
  section.people .person figure > img {
    position: static;
    display: block;
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 1024px) {

  section.intro h1  {
    text-align: center;
  }

  section.people .person,
  section.people .description {
    width: 50%;
  }

  .columns section {
    width: 50%;
  }

  .columns section:last-child {
    width: 100%;
  }

  section.gallery figure, 
  section.gallery .description {
    width: 50%;
  }

  section.faq {
    width: 100%;
    margin: 0;
  }

}


@media only screen and (max-width: 600px) {

  section.intro {
    padding: 30px 0 0 0;
  }

  section.intro .info {
    margin: 15px;
    width: 330px;
  }
 

  section.intro h1 {
    font-size: 42px;
  }

  section.intro p {
    font-size: 18px;
    position: absolute;
    bottom: 50px;
    margin-right: 15px;
  }

  section.people .person,
  section.people .description {
    width: 100%;
    padding: 20px 0;
  }

  section.people .person:after,
  section.people .person:before {
    display: none;
  }

  .columns {
    padding: 0 30px;
  }

  .columns section {
    width: 100%;
    padding: 20px 0;
    overflow: visible;
  }

  section.gallery figure, 
  section.gallery .description {
    width: 100%;
    padding: 20px 0;
  }

  section.faq .more_questions {
    font-size: 22px;
  }

}


/* Chrome Frame
   ———————————————————————————————————————————————————— */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Utils
   ———————————————————————————————————————————————————— */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
